<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Powerun</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.7.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <table class="table">
      <caption>用户列表</caption>
        <thead>
          <tr>
            <th>主键</th>
            <th>标识码</th>
            <th>昵称</th>
            <th>姓名</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>记录状态</th>
            <th>记录备注</th>
     	  </tr>
      </thead>
      <tbody>
        #foreach($!{sysuser} in $!{sysusers})
          <tr>
            <td>$!{sysuser.id}</td>
            <td>$!{sysuser.code}</td>
            <td>$!{sysuser.ptename}</td>
            <td>$!{sysuser.name}</td>
            <td>$!{sysuser.rcreatetime}</td>
            <td>$!{sysuser.rupdatetime}</td>
            <td>$!{sysuser.rstatus}</td>
            <td>$!{sysuser.rmemo}</td>
          </tr>
        #end
      </tbody>
    </table>
  </body>
</html>